<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- <link rel="stylesheet" href="/element-ui/index.css"> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-header,
    .el-footer {
        background-color: #fff;
        color: #fff;
        text-align: center;
        line-height: 60px;
    }

    .el-main {
        background-color: #F2F6FC;
        color: #333;
        text-align: center;
        padding-left: 5px;

    }

    .el-table {
        float: left;
        margin-left: 10px;
    }

    body>.el-container {
        margin-bottom: 40px;

    }

    .demo-table-expand {
        font-size: 0;
    }

    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .el-icon el-icon-arrow-right {
        width:30px;
        height:30px;
    }
    .el-icon-arrow-right:before {
        width:30px;
        height:30px;
    }
    h4>a {
        margin:0 0;
        font-size: 2rem;
    }
    .block{
        margin-left:10px;
        margin-bottom:10px;
        float: left;
    }
   
</style>


<body>
    <div id="app">
        <el-container>
            <el-header>
                
                <el-button size="medium"  disabled width="100">flag列表</el-button>

            </el-header>
           
            <h4> 
                <?php if(isset($_SESSION['username'])): ?>
                欢迎您！<?php echo $_SESSION['username']?>
                <a href="/flag/create"><el-button size="mini" type="primary">立flag</el-button></a>
                <a href="/user/loginout"><el-button size="mini" type="danger">退出</el-button></a>
                <?php else: ?>
                <a href="/user/login"> <el-button size="mini" type="success">登录</el-button></a> 
                <?php  endif;?>
            </h4>
            <el-main>

                <div id="app">
                    <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">
                    <template>
                            <div class="block">
                                <span class="demonstration">起始日期</span>
                                <el-date-picker v-model="startDate" type="date" placeholder="选择日期" :picker-options="pickerOptionsStart" @change="changeEnd">
                                </el-date-picker>
                            </div>
                            
                            <div class="block">
                                <span class="demonstration">截止日期</span>
                                <el-date-picker v-model="endDate" type="date" placeholder="选择日期" :picker-options="pickerOptionsEnd" @change="changeStart">
                                </el-date-picker>
                            </div>
                    </template>              
                    <template>
                        <el-table :data="tableData5" style="width: 100%" :default-sort="{prop: 'start_time', order: 'descending'}">
                            <el-table-column label="发起日期" width="220" sortable prop="start_time"  align="center">
                                <template slot-scope="props">
                                    <i class="el-icon-time"></i>
                                    <span style="margin-left: 10px">{{ props.row.start_time }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column type="expand"  align="center">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="demo-table-expand">
                                        <el-form-item label="姓名">
                                            <span>{{ props.row.username }}</span>
                                        </el-form-item>
                                       
                                        <el-form-item label="开始时间">
                                            <span>{{ props.row.start_time }}</span>
                                        </el-form-item>
                                        <el-form-item label="结束时间">
                                            <span>{{ props.row.end_time }}</span>
                                        </el-form-item>
                                       
                                        <el-form-item label="学习目标">
                                            <span>{{ props.row.content }}</span>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-table-column>
                            <!-- <el-table-column label="截止日期" prop="end_time"  align="center">
                            </el-table-column> -->
                            <el-table-column label="姓名" prop="username"  align="center">
                            </el-table-column>
                            <el-table-column label="学习目标" prop="content"  align="center">
                            </el-table-column>
                            <el-table-column label="操作"  align="center">
                                <template slot-scope="scope">
                                    <el-button size="mini" type="primary" @click="handleSee(scope.$index, scope.row.id)">查看</el-button>
                                    <el-button size="mini" type="warning" v-if="scope.row.user_id==<?php echo isset($_SESSION['user_id'])?$_SESSION['user_id']:-1?>&&scope.row.status=='未完成'"  @click="handleEdit(scope.$index, scope.row.id)">编辑</el-button>
                                    
                                    
                                </template>
                            </el-table-column>
                            <el-table-column prop="status"  align="center" label="完成状态"  width="100" :filters="[{ text: '已完成', value: '已完成' }, { text: '未完成', value: '未完成' }]" :filter-method="filterTag" filter-placement="bottom-end">
                                <template slot-scope="scope">
                                    <el-tag :type="scope.row.status === '未完成' ? 'primary' : 'success'" disable-transitions>{{scope.row.status}}</el-tag>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                    </div>
                    </el-col>
                    </el-row>
                </div>
                

            </el-main>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="/js/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="/element-ui/index.js"></script> -->

<script src="/js/jquery.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>

    var Main = {
        
        data() {
            return {
                tableData5: [],
                pickerOptionsStart: {},
                pickerOptionsEnd:{},
                startDate: '',
                endDate: '',
            }
        },
        created:function() {
            
            var data = [];
            let _this = this;
            $.ajax({
                type:"get",
                url:"/flag/getAll",
                // contentType: "application/json; charset=utf-8",//(可以)
                dataType: "json",
                success: function (res) {                         
                    console.log(res);
                    for (let i = 0; i < res.length; i++) {
               
                        var obj = {}
                        obj.id = res[i].id
                        obj.user_id = res[i].user_id
                        obj.content = res[i].content
                        obj.start_time = res[i].start_time
                        obj.end_time = res[i].end_time
                        obj.status = res[i].status=='y'?'已完成':'未完成'
                        obj.created_at = res[i].created_at
                        obj.updated_at = res[i].updated_at
                        obj.num = res[i].num
                        obj.username = res[i].username
                        data[i] = obj
                    }
                    _this.tableData5 = data
                }
            })

            
        },
        methods: {
            handleSee(index, id) {
                console.log(index, id);
                window.location.href='/flag/content?flag_id='+id;
            },
            handleEdit(index, id) {
                console.log(index, id);
                window.location.href='/flag/edit?flag_id='+id;
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            formatter(row, column) {
                // return row.adress;
            },
            filterTag(value, row) {
                return row.status === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            changeStart (){
                this.pickerOptionsStart = Object.assign({},this.pickerOptionsStart,{
                disabledDate: (time) => {
                    return time.getTime() > this.endDate
                }
                })
            },
            changeEnd (){
                this.pickerOptionsEnd = Object.assign({},this.pickerOptionsEnd,{
                disabledDate: (time) => {
                    return time.getTime() < this.startDate
                    }
                })
            }
        },
       
    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');


</script>

</html>
